<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{pageName}}</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1>Hi {{userName}}, thank you for contacting support</h1>
		<p>We will contact you back at {{userMail}}</p>
	</body>
</html>
