<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{pageName}}</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<form id="contact-form" action="/contact" method="POST">
			<label for="who">who</label>
			<input type="text" name="who" required>
			<label for="departement">departement</label>
			<input type="text" name="departement">
			<label for="email">email</label>
			<input type="text" name="email">
			<input type="submit" value="submit">
		</form>
	</body>
</html>
